@media screen and (max-width: 787px){
    .topo{
        text-align: center;
    }
    .topo li a{
        /*border: 1px solid goldenrod;*/
        width: 220px;
        padding: 10px;
    }
}
/*banner*/
.banner h1{
    font-size: 55px;
}
